@tailwind base;
@tailwind components;
@tailwind utilities;


/* GLOBALS */ 

body {
    margin: 0;
    padding: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }


  /* SIDEBAR */

  aside ul li{
    color: #5d5d5d;
    padding-top: 1rem;
    margin-left: 1.7rem;
  }

  .bottom-rounded {
    position: relative;
    display: inline-block;
  }
  
  .bottom-rounded::after {
    content: '';
    position: absolute;
    bottom: -3px; /* Distancia entre el texto y el borde inferior */
    left: 28px;
    width: 20%;
    height: 3px; /* Grosor del borde inferior */
    background-color: #9b00b6; /* Color del borde inferior */
    border-radius: 5px; /* Radio para redondear los extremos */
  }